---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/{{ layout.stylesheet }}.css">

    <title>{{ page.title }} - Borderlands Wiki</title>
</head>

<body>
    <nav>
        <img id="logo" src="/assets/images/icons/logo.png" alt="Logo">
        <a href="/" class="nav-item">Home</a>
        <a href="/" class="nav-item">Characters</a>
        <a href="/" class="nav-item">Enemies</a>
        <a href="/guns/bl3/butcher.html" class="nav-item">Gear</a>
        <a href="/" class="nav-item">About</a>
    </nav>

    <main>
        {{ content }}
    </main>
</body>
</html>